.profile-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.profile-icon:hover + .profile-info,
.profile-info:hover {
    display: block;
}
